{%- macro install(index, location) -%}
phrase step {{ index }}:
  file.symlink:
    - name: '{{ macros.abspath(location) }}'
    - target: '{{ macros.abspath(kwargs.pop('target', kwargs.pop('source'))) }}'
    - user: {{ dotfiles.user or grains.username }}
    {%- if dotfiles.group is not none %}
    - group: {{ dotfiles.group }}
    {%- endif %}
    - makedirs: True
    - dir_mode: 0755
    {%- for k, v in kwargs.items() %}
    - {{ k }}: {{ v | json }}
    {%- endfor %}
{%- endmacro %}

{%- macro uninstall(index, location) -%}
{{ macros.noop(kwargs) -}}
phrase step {{ index }}:
  file.absent:
    - name: '{{ macros.abspath(location) }}'
{%- endmacro %}
