{%- macro install(index, location, source=None) -%}
phrase step {{ index }}:
  file.managed:
    - name: '{{ macros.abspath(location) }}'
    {%- if source is not none %}
      {%- if '://' in source %}
    - source: '{{ source }}'
      {%- else %}
    - source: 'file://{{ macros.abspath(source) }}'
      {%- endif %}
    {%- endif %}
    {%- if dotfiles.user is not none %}
    - user: {{ dotfiles.user }}
    {%- endif %}
    {%- if dotfiles.group is not none %}
    - group: {{ dotfiles.group }}
    {%- endif %}
    {%- if 'source_hash' not in kwargs %}
    - skip_verify: True
    {%- endif %}
    {%- if 'template' in kwargs and 'context' not in kwargs %}
    - context:
        dotfiles: {{ dotfiles | json }}
    {%- endif %}
    - makedirs: True
    - dir_mode: 0755
    - follow_symlinks: False
    {%- for k, v in kwargs.items() %}
    - {{ k }}: {{ v | json }}
    {%- endfor %}
{%- endmacro %}

{%- macro uninstall(index, location) -%}
{{ macros.noop(kwargs) -}}
phrase step {{ index }}:
  file.absent:
    - name: '{{ macros.abspath(location) }}'
{%- endmacro %}
