{%- import_yaml "dotfiles/defaults.yaml" as defaults %}

{%- set dotfiles = salt['grains.filter_by'](
  defaults,
  merge=salt['pillar.get']('dotfiles', {})
) %}

{% for top_name, local_name in dotfiles.merge_top_pillar.items() %}
  {%- if top_name in pillar %}
    {%- do dotfiles.update({ local_name: pillar[top_name] }) %}
  {%- endif %}
{% endfor %}

{%- if 'home' not in dotfiles %}
  {%- do dotfiles.update(home=salt['user.info'](dotfiles.user).home) %}
{%- endif %}

{%- if dotfiles.user == "" or dotfiles.user == grains.username %}
  {%- do dotfiles.update(user=None) %}
{%- endif %}
{%- if dotfiles.group == "" or dotfiles.group == grains.groupname %}
  {%- do dotfiles.update(group=None) %}
{%- endif %}